body {
  background-color: rgb(180, 198, 209);
}

.tarjeta {
  background-color: rgb(255, 255, 255);
  height: 700px;
  width: 500px;
  border-radius: 4%;
  margin: 2rem 25% 2rem 35%;
}

.tarjeta > img {
  width: 470px;
  height: 430px;
  border-radius: 4%;
  margin: 16px 16px 0 13px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  margin: 1rem;
}

.parrafo {
  margin: 2rem 2rem 5rem 2rem;

  color: gray;
  font-size: 20px;
  text-align: center;
}
